{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb-bg.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>About us</h2>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Why chose us?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Modern equipment</h4>
                        <p>Modern Gym & Fitness Facilities. Cycle your way to the ultimate fitness results. 
                            Rides are set to a motivational soundtrack and may vary and blend technique, 
                            intervals, resistance rides, climbs and sprints for a fun, 
                            challenging and rewarding cardio experience.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Healthy nutrition plan</h4>
                        <p>Healthy nutrition plan Nutrition and weight loss, simplified Discover ways to make 
                            healthy living easier with our Nutrition.
                            Yoga, is a meditative means of discovering dysfunctional perception and cognition,
                            as well as overcoming it for release from suffering, inner peace and salvation.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Professional training plan</h4>
                        <p>Healthy nutrition plan.Yoga, is a meditative means of discovering dysfunctional perception and cognition,
                            as well as overcoming it for release from suffering, inner peace and salvation.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Unique to your needs</h4>
                        <p>Training is going to consist of 8 to 12 or 12 to 15 reps for 3 to 6 sets with 45 to 90 seconds of rests. 
                            Bodybuilders often “display” their hard work by posing onstage in front of a panel of judges.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- About US Section Begin -->
    <section class="aboutus-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="about-video set-bg" data-setbg="{% static "img/about-us.jpg" %}">
                        <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i
                                class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>What we have done</h2>
                        </div>
                        <div class="at-desc">
                            <p>Bodybuilding focuses on hypertrophy, or muscle growth. 
                                Each workout typically focuses on a specific muscle group and incorporates more single-joint exercises such as bicep curls. 
                                Training is going to consist of 8 to 12 or 12 to 15 reps for 3 to 6 sets with 45 to 90 seconds of rests. 
                                Bodybuilders often “display” their hard work by posing onstage in front of a panel of judges.
                                Native gym is ready and willing to help people with every step of their fitness journey,
                                Native Fitness is a comprehensive resource that’s motivating and inspiring. Sure, 
                                they’ll teach you how to work out and how to prepare a basic meal, but they also focus on helping you fix your own mindset, 
                                develop positive habits, and really change your life one step at a time.</p>
                        </div>
                        <div class="about-bar">
                            <div class="ab-item">
                                <p>Body building</p>
                                <div id="bar1" class="barfiller">
                                    <span class="fill" data-percentage="80"></span>
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="ab-item">
                                <p>Training</p>
                                <div id="bar2" class="barfiller">
                                    <span class="fill" data-percentage="85"></span>
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="ab-item">
                                <p>Fitness</p>
                                <div id="bar3" class="barfiller">
                                    <span class="fill" data-percentage="75"></span>
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About US Section End -->
    <!-- Team Section Begin -->
    <!-- Team Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="{% static "img/bn5.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>register now to get more deals</h2>
                        <div class="bt-tips">Where health, beauty and fitness meet.</div>
                        <a href="/contact" class="primary-btn  btn-normal">Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our cilent say</h2>
                    </div>
                </div>
            </div>
            <div class="ts_slider owl-carousel">
                <div class="ts_item">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ti_pic">
                                <img src="#" alt="client">
                            </div>
                            <div class="ti_text">
                                <p>“For my three years of being a member here, what I enjoy most is the friendly environment, <br /> 
                                    the functional fitness equipment, <br /> how neat the place is and the kind of activities and classes run here."</p>
                                <h5>-----</h5>
                                <div class="tt-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ts_item">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ti_pic">
                                <img src="#" alt="client">
                            </div>
                            <div class="ti_text">
                                <p>The gym is well equipped Good management Motivation is always peaked Loved the place ✌<br /> <br />
                                    The gym is with wonders As you will see changes within a month.</p>
                                <h5>------</h5>
                                <div class="tt-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}

    {% endblock content %}