{% block footer %}
{% load static %}

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>Ghana/Accra,near Royal Palm Estate,<br/>GH-0298-0841</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li><a href="tell:+233 553-390-054">+233 553-390-054</a></li>
                            <li><a href="tell:+233 308-009-424">+233 308-009-424</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>nativefitness1@yahoo.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="{% static "img/logo342.png" %}" alt=""></a>
                        </div>
                        <p>Nutrition and weight loss, simplified
                            Discover ways to make healthy living easier with our Nutrition</p>
                        <div class="fa-social">
                            <a href="https://www.facebook.com/nativelfitness/photos/a.111630331550098/111688674877597/?type=3"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/gymnative?s=11&t=ZwnXdgm_3eK9zE45L8UvSg"><i class="fa fa-twitter"></i></a>
                            <a href="https://youtube.com"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://instagram.com/gymnative1?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/classdetail">Classes</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="/timetable">Timetable</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="/services">Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6><a href="/blog">Physical fitness may help prevent depression, anxiety</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>native</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="/blog">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>native</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>
    Copyright <script>document.write(new Date().getFullYear());</script> Native Gym All rights reserved.
    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/masonry.pkgd.min.js" %}"></script>
    <script src="{% static "js/jquery.barfiller.js" %}"></script>
    <script src="{% static "js/jquery.slicknav.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

{% endblock footer %}