{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static "img/bn5.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Welcome To Native fitness center</span>
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="/about" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="{% static "img/breadcrumb-bg.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="#" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Why chose us?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Modern equipment</h4>
                        <p>Modern Gym & Fitness Facilities. Cycle your way to the ultimate fitness results. 
                            Rides are set to a motivational soundtrack and may vary and blend technique, 
                            intervals, resistance rides, climbs and sprints for a fun, 
                            challenging and rewarding cardio experience.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Healthy nutrition plan</h4>
                        <p>Healthy nutrition plan Nutrition and weight loss, simplified Discover ways to make 
                            healthy living easier with our Nutrition
                            .Yoga, is a meditative means of discovering dysfunctional perception and cognition,
                            as well as overcoming it for release from suffering, inner peace and salvation.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Professional training plan</h4>
                        <p>Weightlifting, also called Olympic weightlifting, 
                            is an athletic discipline in the modern Olympic programme in which the athlete attempts a 
                            maximum-weight single lift of a barbell loaded with weight plates.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Unique to your needs</h4>
                        <p>Training is going to consist of 8 to 12 or 12 to 15 reps for 3 to 6 sets with 45 to 90 seconds of rests. 
                            Bodybuilders often “display” their hard work by posing onstage in front of a panel of judges.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->
    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Classes</span>
                        <h2>WHAT WE CAN OFFER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static "img/classes/class-4.jpg" %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>STRENGTH</span>
                            <h5>Weightlifting</h5>
                            <a href="/gallery"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static "img/classes/class-6.jpg" %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h5>Indoor cycling</h5>
                            <a href="/gallery"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static "img/classes/class-3.jpg" %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>STRENGTH</span>
                            <h5>Kettlebell power</h5>
                            <a href="/gallery"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static "img/classes/class-6.jpg" %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h4>Indoor cycling</h4>
                            <a href="/gallery"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static "img/classes/class-5.jpg" %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Training</span>
                            <h4>Boxing</h4>
                            <a href="/gallery"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="{% static "img/bn5.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>register now to get more deals</h2>
                        <div class="bt-tips">Where health, beauty and fitness meet.</div>
                        <a href="/contact" class="primary-btn  btn-normal">Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->
    <section class="pricing-section service-pricing spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Plan</span>
                        <h2>Choose your pricing plan</h2>
                        <h2>Registration Fee - ghc 50.00</h2>
                    </div>
                </div>
            </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-8">
                        <div class="ps-item">
                            <h3>Acces type</h3>
                            <div class="pi-price">
                                <h2>GYM + CLASSES</h2>
                                <span>Registration Fee - ghc 50.00</span>
                            </div>
                            <ul>
                                <li>Free riding</li>
                                <li>Unlimited equipments</li>
                                <li>Personal trainer</li>
                                <li>Weight losing classes</li>
                                <li>Month to Month</li>
                                <li>No time restriction</li>
                            </ul>
                            <a href="/contact" class="primary-btn pricing-btn">Enroll now</a>
                            <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="ps-item">
                            <h3>Class drop-in</h3>
                            <div class="pi-price">
                                <h2>Ghc 25.00</h2>
                                <span>SINGLE CLASS</span>
                            </div>
                            <ul>
                                <li>Free riding</li>
                                <li>Unlimited equipments</li>
                                <li>Personal trainer</li>
                                <li>Weight losing classes</li>
                                <li>Month to Month</li>
                                <li>No time restriction</li>
                            </ul>
                            <a href="/contact" class="primary-btn pricing-btn">Enroll now</a>
                            <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="ps-item">
                            <h3>1 Month unlimited</h3>
                            <div class="pi-price">
                                <h2>Ghc 200.00</h2>
                                <span>SINGLE CLASS</span>
                            </div>
                            <ul>
                                <li>Free riding</li>
                                <li>Unlimited equipments</li>
                                <li>Personal trainer</li>
                                <li>Weight losing classes</li>
                                <li>Month to Month</li>
                                <li>No time restriction</li>
                            </ul>
                            <a href="/contact" class="primary-btn pricing-btn">Enroll now</a>
                            <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="ps-item">
                            <h3>3 month unlimited</h3>
                            <div class="pi-price">
                                <h2>Ghc 500.00</h2>
                                <span>SINGLE CLASS</span>
                            </div>
                            <ul>
                                <li>Free riding</li>
                                <li>Unlimited equipments</li>
                                <li>Personal trainer</li>
                                <li>Weight losing classes</li>
                                <li>Month to Month</li>
                                <li>No time restriction</li>
                            </ul>
                            <a href="/contact" class="primary-btn pricing-btn">Enroll now</a>
                            <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="ps-item">
                            <h3>6 Month unlimited</h3>
                            <div class="pi-price">
                                <h2>Ghc 1000.00</h2>
                                <span>SINGLE CLASS</span>
                            </div>
                            <ul>
                                <li>Free riding</li>
                                <li>Unlimited equipments</li>
                                <li>Personal trainer</li>
                                <li>Weight losing classes</li>
                                <li>Month to Month</li>
                                <li>No time restriction</li>
                            </ul>
                            <a href="/contact" class="primary-btn pricing-btn">Enroll now</a>
                            <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="ps-item">
                            <h3>12 Month unlimited</h3>
                            <div class="pi-price">
                                <h2>Ghc 2100.00</h2>
                                <span>SINGLE CLASS</span>
                            </div>
                            <ul>
                                <li>Free riding</li>
                                <li>Unlimited equipments</li>
                                <li>Personal trainer</li>
                                <li>Weight losing classes</li>
                                <li>Month to Month</li>
                                <li>No time restriction</li>
                            </ul>
                            <a href="/contact" class="primary-btn pricing-btn">Enroll now</a>
                            <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Section End -->

    <!-- Gallery Section Begin -->
    <div class="gallery-section">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static "img/p34.jpg" %}">
                <a href="{% static "img/p34.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static "img/gr-1.jpg" %}">
                <a href="{% static "img/gr-1.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static "img/gr-2.jpg" %}">
                <a href="{% static "img/gr-2.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static "img/gr-3.jpg" %}">
                <a href="{% static "img/gr-3.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static "img/gr-4.jpg" %}">
                <a href="{% static "img/gr-4.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static "img/gr-5.jpg" %}">
                <a href="{% static "img/gr-5.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static "img/gr-8.jpg" %}">
                <a href="{% static "img/gr-8.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static "img/gr-7.jpg" %}">
                <a href="{% static "img/gr-7.jpg" %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
    </div>
    <!-- Gallery Section End -->

    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Our Team</span>
                            <h2>TRAIN WITH EXPERTS</h2>
                        </div>
                        <a href="/contact" class="primary-btn btn-normal appoinment-btn">appointment</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for trainers in trainers_list %}
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="{{ trainers.image.url }}">
                        <div class="ts_text">
                            <h4>{{ trainers.name}}</h4>
                            <span>{{trainers.title}}</span>
                            <div class="tt_social">
                                <a href="{{ trainers.fb_account}}"><i class="fa fa-facebook"></i></a>
                                <a href="{{ trainers.twitter_account}}"><i class="fa fa-twitter"></i></a>
                                <a href="{{ trainers.youtube_account}}"><i class="fa fa-youtube-play"></i></a>
                                <a href="{{ trainers.insta_account}}"><i class="fa fa-instagram"></i></a>
                                <a href="{{ trainers.trainer_email}}"><i class="fa  fa-envelope-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}


    {% endblock content %}